html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  list-style: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  -webkit-appearance: none;
}

$particles: 100;
$particleSize: 6px;
$radius: 100;
$lapDuration: 3s;
$font: 'East Sea Dokdo', cursive;
$foreground-color: darkslategrey;



html, body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  font-family: $font;
  overflow-x: hidden; 
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 100vh;
}

.moon {
  z-index: 5;
  height: auto; 
  width: auto; 
  max-width: 92%;
  max-height: 125%;
  position: absolute;
  padding: 43px;
  -webkit-transition: -webkit-transform 8s ease-out;
  -moz-transition: -moz-transform 8s ease-out;
  -ms-transition: -ms-transform 8s ease-out;
  -o-transition: -o-transform 8s ease-out;
  transition: transform 8s ease-out;

  @media screen and (max-width: 600px) {
    padding: 10px;
  }

}

.moon-hover:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rsvp {
  width: 100%;
  text-align: center;
}


.map-form {
  background-color: transparent;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  @media screen and (max-width: 560px) {
    flex-direction: column;
   }

}

#email-input {
  box-sizing: border-box;
  line-height: initial;
  background: ghostwhite;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  height: 50px;
  width: 300px;
   @media screen and (max-width: 560px) {
    
  }
}

#email-input:focus {
  border: 2px solid $foreground-color;
}

#map-submit {
  border: 2px solid $foreground-color;
  border-radius: 4px;
  z-index: 7;
  background-color: darkseagreen;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
  color: $foreground-color;
  margin-left: 15px;
  height: 50px;
  width: 300px;
  @media screen and (max-width: 560px) {
    margin-left: 0px;
  }
}

#map-submit:hover {
  cursor: pointer;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-2deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(2deg);}
  100% {transform: rotate(0deg);}
}

::-webkit-input-placeholder {
  color: black;
}

.hide {
  display: none !important;
}

#video-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 45px;

    @media screen and (max-width: 600px) {
      top: 0;
  }
}

#video {
  @media screen and (max-width: 560px) {
    height: 300px;
  }
}

#about {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 7%;
  @media screen and (max-width: 560px) {
    font-size: 20px;
  }
}

#team {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4%;
  @media screen and (max-width: 560px) {
    font-size: 20px;
  }
}

.landscape {
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 100vh;
    box-shadow: 0 50vh 0 50vh;
}

.master-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 50px;
  margin-top: 75px;
  color: white;
  @media screen and (max-width: 560px) {
    margin-top: 45px;
  }
}

.master-item-container div {
    z-index: 1;
    border-bottom: 2px solid transparent;
}
.master-item-container div:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}


.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catchphrase {
  color: white;
  font-size: 50px;
}

.presenting-container {
  font-size: 150px;
  width: 100vw;
  line-height: 100%;
  height: 100px;
  margin-bottom: 115px;

  @media screen and (max-width: 900px) {
    font-size: 15vw;
    height: 45px;
  }
  @media screen and (max-width: 550px) {
    margin-bottom: 0px;
  }
}

.presenting {
  position: absolute;
  color: white;
  left: 0px;
  width: 100%;
  text-align: center;
  line-height: inherit;
}

$strips-size:6px; //10px
$strips-ratio:50%;//70%
$strips-angle:45deg;//90deg;

@keyframes dash-animation{
  0% {background-position:0 0};
  100% {background-position:100% 0};
}

.shadow-presenting {
  position: absolute;
  left: 7px;
  width: 100%;
  text-align: center;
  line-height: inherit;
  color: white;
  $color: $foreground-color;
  $size:$strips-ratio/2;
  $halfSize:$size/2;
  $p1:$halfSize;
  $p2:50%-$halfSize;
  $p3:50%+$halfSize;
  $p4:100%-$halfSize;
  $transparent:transparentize($color,1);
  background: -webkit-linear-gradient($strips-angle,$color $p1, $transparent $p1, $transparent $p2,$color $p2, $color $p3, $transparent $p3, $transparent $p4, $color $p4);
  background-size: $strips-size $strips-size;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: dash-animation 50s infinite linear;
}

.video-nav-container {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  font-size: 2em;
  margin-top: 1em;
  position: relative;
  top: 80px;

  a {
    margin-right: 50px;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid white;
  }

  a.selected {
    border-bottom: 1px solid white;
  }

  :last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 600px) {
      top: 13px;
      font-size: 1em;
  }
}
